<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>altarie.js</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <main>
      <h1>altarie.js</h1>
      <p>Laravel experience, JavaScript simplicity.</p>
      <p>Environment: <code>{{ env }}</code></p>
    </main>
  </body>
</html>
